<!doctype html>
<html>
  <head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <link href='style/styles.css' rel="stylesheet">
  </head>
  <body>

    <div id="react-main-mount">
      <%- reactOutput %>
    </div>

	<script src="js/main.built.js"></script>

  </body>
</html>
